<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-bookmarks</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1EAF26DA-27B1-4DC0-9CD4-1F7083FE12D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36B63527-A5DA-48D3-ABAE-CAF25A72113F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36B63527-A5DA-48D3-ABAE-CAF25A72113F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D14CA1D9-4552-4349-8F1F-ADB818D1B810</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4929EA59-E09E-49C1-B0DA-465AC29C6CD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE5B576D-8C1D-444E-80AA-D2D8961D46C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FB6D982-3F5D-4BC8-84C3-26623A841A6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1AAA832-601F-46B5-ADEA-F686ED695B89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D14CA1D9-4552-4349-8F1F-ADB818D1B810</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FB6D982-3F5D-4BC8-84C3-26623A841A6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1AAA832-601F-46B5-ADEA-F686ED695B89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F85DB1F0-D670-4812-AAED-33D914B4535D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8EFCA88-869C-43B4-A986-4B6AC142B08A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43768798-3C14-40B5-9FE0-C52E041ECA58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F85DB1F0-D670-4812-AAED-33D914B4535D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8EFCA88-869C-43B4-A986-4B6AC142B08A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh York</string>
	<key>description</key>
	<string>Bookmarks outside the browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>fuzzy search bookmarks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4929EA59-E09E-49C1-B0DA-465AC29C6CD8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AE5B576D-8C1D-444E-80AA-D2D8961D46C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:url}</string>
				<key>title</key>
				<string>Bookmark added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>43768798-3C14-40B5-9FE0-C52E041ECA58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>enter a name for the url</string>
				<key>text</key>
				<string>name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D14CA1D9-4552-4349-8F1F-ADB818D1B810</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:DIR_PATH}/{var:FILENAME}</string>
				<key>filetext</key>
				<string>{var:name} | {var:keywords} | {var:url}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>E8EFCA88-869C-43B4-A986-4B6AC142B08A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>keywords</string>
				<key>subtext</key>
				<string>space separated</string>
				<key>text</key>
				<string>Keywords</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1AAA832-601F-46B5-ADEA-F686ED695B89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>b add</string>
				<key>subtext</key>
				<string>add a bookmark</string>
				<key>text</key>
				<string>b add {url}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1EAF26DA-27B1-4DC0-9CD4-1F7083FE12D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6FB6D982-3F5D-4BC8-84C3-26623A841A6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>36B63527-A5DA-48D3-ABAE-CAF25A72113F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>keywords</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F85DB1F0-D670-4812-AAED-33D914B4535D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EAF26DA-27B1-4DC0-9CD4-1F7083FE12D2</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>36B63527-A5DA-48D3-ABAE-CAF25A72113F</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>43768798-3C14-40B5-9FE0-C52E041ECA58</key>
		<dict>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4929EA59-E09E-49C1-B0DA-465AC29C6CD8</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>6FB6D982-3F5D-4BC8-84C3-26623A841A6D</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>AE5B576D-8C1D-444E-80AA-D2D8961D46C6</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>D14CA1D9-4552-4349-8F1F-ADB818D1B810</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E1AAA832-601F-46B5-ADEA-F686ED695B89</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E8EFCA88-869C-43B4-A986-4B6AC142B08A</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F85DB1F0-D670-4812-AAED-33D914B4535D</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DIR_PATH</key>
		<string>~/.dotfiles/config/alfred-bookmarks</string>
		<key>FILENAME</key>
		<string>bookmarks.txt</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/JoshYork/alfred-bookmarks</string>
</dict>
</plist>
